<h1>Make your form here</h1>
<form>
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Name: <input type="text" name="pirate[name]">
  Ship Name: <input type="text" name="pirate[ships][][name]">
  Ship Type: <input type="text" name="pirate[ships][][type]">
  Ship Booty: <input type="text" name="pirate[ships][][booty]">
</form>
